body {
    margin: 0;
    overflow-x: hidden;
}
main {
    font-family: Arial, Helvetica, sans-serif;
}
h1, p {
    margin: 0;
}
section {
    width: 100vw;
    color: #926239;
}
.first-screen {
    height: 100vh;
    background-image: url('./assets/beachshowcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 20% 0;
    text-align: center;
}
.header {
    font-size: 4rem;
    line-height: 4rem;
} 

.capitalize {
    text-transform: capitalize;
}
.title {
    font-size: 1.7rem;
    margin: 1.7rem 0;
}
.button-container {
    border: 1px solid #926239;
    border-radius: 10px;
    background: none;
}
.button {
    text-decoration: none;
    color: #926239;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: block;
    padding: 15px;
}
.second-screen {
    font-size: 1.5rem;
    line-height: 2rem;
    box-sizing: border-box;
}
.block {
    padding: 2%;
    text-align: center;
}
.inline-block {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    padding: 20px;
}
.background-gold {
    background-color: #926239;
}
.background-light {
    background-color: #f4f4f4;
}
.light-text {
    color: #f4f4f4;
}
